<launch>
    <group unless="$(has_param /guard/pose/default)">
        <param name="/guard/pose/default" value="True" />
        <node pkg="ottocar_utils" type="launch_guard.py" name="$(anon guard_pose_default)" args="/guard/pose/default" />

        <!-- Default file for pose -->

        <!-- start simple integration -->
        <include file="$(launch_dir)/simple_integrate.launch" />
    </group>
</launch>