<launch>
    <group unless="$(has_param /guard/remove_gravity/default)">
        <param name="/guard/remove_gravity/default" value="True" />
        <node pkg="ottocar_utils" type="launch_guard.py" name="$(anon guard_remove_gravity_default)" args="/guard/remove_gravity/default" />

        <!-- Default file for remove_gravity -->

        
        <include file="$(launch_dir)/by_orientation.launch" />
    </group>
</launch>