<launch>
    <group unless="$(has_param /guard/remove_with_highpass)">
        <param name="/guard/remove_with_highpass" value="True" />
        <node pkg="ottocar_utils" type="launch_guard.py" name="$(anon guard_remove_with_highpass)" args="/guard/remove_with_highpass" />

        <include file="$(find ottocar_utils)/../../launch/imu/default.launch" unless="$(has_param dont_include_default)"/>

        <!-- Starts joystick node to control high pass values -->
        <node pkg="joy" name="$(anon joystick)" type="joy_node" if="$(has_param /use_joystick)">
            <param name="~dev" value="/dev/input/js2"/>
            <param name="~autorepeat_rate " value="100"/>
        </node>

        <!-- no visualization -->
        <group unless="$(has_param /viz)">
            <!-- start high pass filter over accelerometer to filter out gravity -->
            <node pkg="ottocar_utils" name="$(anon high_pass_accel)" type="fft_filter.py" output="screen" required="true">
                <remap from="/topic_in" to="/accelerometer/raw" />
                <remap from="/topic_out" to="/accelerometer/high_pass" />
            </node>
        </group>


        <!-- with visualization -->
        <group if="$(has_param /viz)">
            <!-- Slow down /accelerator/ topic as it was to fast to be comfortably viewed in rqt_plot -->
            <node pkg="topic_tools" name="$(anon drop_accel)" type="drop" output="screen" args="/accelerometer/raw 1 2" />

            <!-- start high pass filter over accelerometer to filter out gravity -->
            <node pkg="ottocar_utils" name="$(anon high_pass_accel)" type="fft_filter.py" output="screen" required="true">
                <remap from="/accelerometer/raw" to="/accelerometer/raw_drop" />
                <remap from="/topic_in" to="/accelerometer/raw" />
                <remap from="/topic_out" to="/accelerometer/high_pass" />
            </node>

            <!-- Starts rqt_plot with /velocity  -->
            <node pkg="ottocar_utils" name="$(anon rqt_plot_velocity_x)" type="delay1s.sh"
                args="rqt_plot /accelerometer/raw_drop/x /accelerometer/high_pass/x" />
            <node pkg="ottocar_utils" name="$(anon rqt_plot_velocity_y)" type="delay1s.sh"
                args="rqt_plot /accelerometer/raw_drop/y /accelerometer/high_pass/y" />
            <node pkg="ottocar_utils" name="$(anon rqt_plot_velocity_z)" type="delay1s.sh"
                args="rqt_plot /accelerometer/raw_drop/z /accelerometer/high_pass/z" />
        </group>

        <!-- Integrate /accelerometer/high_pass and /imu/data into /imu/data_wo_gravity -->
        <node pkg="ottocar_navigation" name="$(anon remove_gravity_with_high_pass)" type="remove_gravity_with_highpass.py" />
    </group>
</launch>