<launch>
    <group unless="$(has_param /guard/remove_with_highpass)">
        <param name="/guard/remove_with_highpass" value="True" />
        <node pkg="ottocar_utils" type="launch_guard.py" name="$(anon guard_remove_with_highpass)" args="/guard/remove_with_highpass" />

        <include file="$(find ottocar_utils)/../../launch/imu/default.launch" unless="$(has_param dont_include_default)"/>

        <!-- start low pass filter over accelerometer to determine gravity -->
        <node pkg="ottocar_utils" name="$(anon low_pass_accel)" type="fft_filter.py" output="screen" required="true">
            <param name="filter" value="low_pass_sharp_cutoff_at" />
            <remap from="/topic_in" to="/accelerometer/raw" />
            <remap from="/topic_out" to="/accelerometer/low_pass" />
        </node>



</launch>