<launch>
  <node pkg="kalman_imu" name="imu_conv" type="imu_conv.py">
  	<param name="topic_out_imu" value="/imu/data_raw" />
  	<param name="topic_out_mag" value="/imu/mag" />
    <param name="frame_id" value="/imu" />
    <param name="topic_in_accelerometer" value="/accelerometer/raw" />
    <param name="topic_in_magnetometer" value="/magnetometer/raw" />
    <param name="topic_in_gyroscope" value="/gyroscope/calibrated" />
  </node>
</launch>