<launch>
    <group unless="$(has_param /viz/synth_data)">
        <!-- Inform via log that visualization will not be started because of not set parameter. -->
        <node pkg="ottocar_utils" type="log.py" name="$(anon log_viz_synth_data)"  output="screen"
            args="warn 'Parameter /viz/synth_data not set, so no visualization started.'"/>
    </group>
    <group if="$(has_param /viz/synth_data)">
        <group unless="$(has_param /guard/viz/synth_data)">
            <param name="/guard/viz/synth_data" value="True" />
            <node pkg="ottocar_utils" type="launch_guard.py" name="$(anon guard_viz_synth_data)" args="/guard/viz/synth_data" />

            <!-- Starts rqt_plot with /synth/velocity  -->
            <node pkg="ottocar_utils" name="$(anon rqt_plot_synth_velocity)" type="exec.sh"
                args="rqt_plot /synth/velocity/x /synth/velocity/y" />

            <!-- Starts rviz to visualize the synthesized data -->
            <node pkg="rviz" name="$(anon synth_data_rviz)" type="rviz" output="screen" args="-d $(find ottocar_utils)/../../rviz/synth_data.rviz" />
        </group>
    </group>
</launch>