<launch>
	<node pkg="kalman_imu" name="imu_calib" type="calibration_filter.py">
		<param name="n_samples" value=1000 />
		<param name="topic_in" value="/accelerometer/raw" />
		<param name="topic_out_calibrated" value="/accelerometer/calibrated" />
		<param name="topic_out_variances" value="/accelerometer/variances" />
	</node>
	<node pkg="kalman_imu" name="imu_calib" type="calibration_filter.py">
		<param name="n_samples" value=1000 />
		<param name="topic_in" value="/magnetometer/raw" />
		<param name="topic_out_calibrated" value="/magnetometer/calibrated" />
		<param name="topic_out_variances" value="/magnetometer/variances" />
	</node>
</launch>