<launch>
    <!-- NOTE NOTE NOTE -->
    <!-- Expects test_remove_gravity_core.launch to be launched! -->

    <!-- Removes gravity from acceleration values -->
    <node pkg="ottocar_navigation" name="remove_gravity" type="remove_gravity.py" />
    
    <!-- Starts rqt_plot with /imu/data_wo_gravity  -->
    <node pkg="ottocar_utils" name="rqt_plot_data_wo_gravity" type="exec.sh"
        args="rqt_plot /imu/data_wo_gravity/linear_acceleration/x /imu/data_wo_gravity/linear_acceleration/y /imu/data_wo_gravity/linear_acceleration/z" />

    <!-- Starts rviz to visualize orientation and acceleration of imu -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find ottocar_utils)/../../launch/test_remove_gravity.rviz" />

</launch>