<launch>
    <node pkg="joy" name="$(anon joystick)" type="joy_node">
        <param name="~dev" value="/dev/input/js2"/>
        <param name="~autorepeat_rate " value="100"/>
    </node>

    <node pkg="topic_tools" name="$(anon drop_accel)" type="drop" output="screen" args="/accelerometer/raw 1 2">
<!--         <param name="~intopic" value="/accelerometer/raw" />
        <param name="~X" value="1" />
        <param name="~Y" value="2" />
        <param name="~outtopic" value="/accelerometer/raw_dropped" /> -->
    </node>
    <node pkg="ottocar_navigation" name="$(anon high_pass_accel)" type="high_pass_accel.py" output="screen" required="true">
        <remap from="/accelerometer/raw" to="/accelerometer/raw_drop" />
    </node>

    <!-- Starts rqt_plot with /velocity  -->
    <node pkg="ottocar_utils" name="$(anon rqt_plot_velocity)" type="exec.sh"
        args="rqt_plot /accelerometer/raw_drop/z /accelerometer/high_pass/z" />

</launch>