<launch>
    <group unless="$(has_param /guard/velocity/default)">
        <param name="/guard/velocity/default" value="True" />
        <node pkg="ottocar_utils" type="launch_guard.py" name="$(anon guard_velocity_default)" args="/guard/velocity/default" />

        <!-- Default file for velocity -->

        <!-- start simple integration -->
        <include file="$(launch_dir)/simple_integrate.launch" />
    </group>
</launch>