<launch>
    <group unless="$(has_param guard/velocity/high_pass)">
        <param name="guard/velocity/high_pass" value="True" />
        <node pkg="ottocar_utils" type="launch_guard.py" name="$(anon guard_high_pass)" args="guard/velocity/high_pass" />

        <!-- <include file="$(find ottocar_utils)/../../launch/velocity/simple_integrate.launch"/> -->
        
        <!-- integrate accelerometer data to get velocity -->
        <node pkg="ottocar_navigation" name="$(anon calc_veloc)" type="calc_veloc.py" output="screen">
            <remap from="/velocity" to="/velocity/simple_integrate" />
        </node>

        <!-- start high pass filter over velocity to filter out erroneous bias -->
        <node pkg="ottocar_navigation" name="$(anon high_pass_veloc)" type="high_pass.py" output="screen" required="true">
            <!-- <param name="use_joystick" value="True" /> -->
            <remap from="/topic_in" to="/velocity/simple_integrate" />
            <remap from="/topic_out" to="/velocity/high_pass" />
        </node>

        <group if="$(has_param /viz/velocity/high_pass)">
            <!-- Starts rqt_plot with /velocity  -->
            <node pkg="ottocar_utils" name="$(anon rqt_plot_velocity)" type="exec.sh"
                args="rqt_plot /velocity/simple_integrate/vector/x /velocity/simple_integrate/vector/y /velocity/simple_integrate/vector/z" />
            <node pkg="ottocar_utils" name="$(anon rqt_plot_velocity)" type="exec.sh"
                args="rqt_plot /velocity/high_pass/vector/x /velocity/high_pass/vector/y /velocity/high_pass/vector/z" />
        </group>
    </group>
</launch>